<style>
    #design {
        color: black;
    }

        #design:hover {
            color: #1e5feb66;
        }

    .table-container {
        overflow: auto;
    }
</style>
<div class="wrapper">
    <div class="table-container">
        <h4 id="design" class="text-center text-uppercase">Designer Status</h4>
        <table id="desi" class="table table-bordered  table-hover">
            <thead class="p-3 mb-2 text-black-100">
                <tr>
                    <th>Sr. No.</th>
                    <th>Status</th>
                    <th>No of Days</th>
                    <th>Item Name</th>
                    <th>Date Sent to Party</th>
                    <th>Component Name</th>
                    <th>PDF Designer</th>
                    <th>Order Date</th>
                    <th>Order Status</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
