
<div class="wrapper">
    <div class="table-container-PackingStatus">
        <h4 id="design" class="text-center text-uppercase">Packing Status</h4>
        <table id="PackingStatus" class="table table-bordered  table-hover">
            <thead class="p-3 mb-2 text-black-50">
                <tr>
                    <th>Sr. No.</th>
                    <th>Status</th>
                    <th>work_order_no</th>
                    <th>Item Name</th>
                    <th>No of Days from Date of Booking</th>
                    <th>Batch No.</th>
                    <th>Batch Quantity</th>
                    <th>Order Quantity</th>
                    <th>U.O.M.</th>
                    <th>Date of Packing</th>
                    <th>Packed Quantity</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

