
<div class="wrapper">
    <div class="table-container-Payment">
        <h4 id="design" class="text-center text-uppercase">Payment Status</h4>
        <table id="PaymentStatusID" class="table table-bordered  table-hover">
            <thead class="p-3 mb-2 text-black-50">
                <tr>
                    <th>Sr. No.</th>
                    <th>No Of Days</th>
                    <th>Value Date</th>
                    <th>Account Name</th>
                    <th>rec_value</th>
                    <th>GO_no</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

