
<div class="wrapper">
    <div class="table-container">
        <h4 id="design" class="text-center text-uppercase">Production Status</h4>
        <table id="producSt" class="table table-bordered table-hover">
            <thead class="p-3 mb-2 text-black-50">
                <tr>
                    <th>Sr. No.</th>
                    <th>Status</th>
                    <th>No of Days</th>
                    <th>Item Name</th>
                    <th>Batch No</th>
                    <th>Batch Size</th>
                    <th>Order Quantity</th>
                    <th>U.O.M.</th>
                    <th>Production Starting Date</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

