
<div class="wrapper">
    <div class="table-containerRM">
        <h4 id="design" class="text-center text-uppercase">RM Status</h4>
        <table id="RowMaterialStatus" class="table table-bordered  table-hover">
            <thead class="p-3 mb-2 text-black-50">
                <tr>
                    <th class="strech">Sr. No.</th>
                    <th class="strech">Status</th>
                    <th>No of days</th>
                    <th class="strech">Work Order No</th>
                    <th class="strech">Item Name</th>
                    <th class="strech">Ingredent Name</th>
                    <th class="strech">Date of Blocking</th>
                    <th class="strech">Stock Availability</th>
                    <th class="strech">Order Status</th>
                </tr>
            </thead>
        </table>
    </div>
</div>


