
<div class="wrapper">
    <div class="table-container">
        <h4 id="design" class="text-center text-uppercase">Testing Status</h4>
        <table id="testing" class="table table-bordered  table-hover">
            <thead class="p-3 mb-2 text-black-50">
                <tr>
                    <th>Sr. No.</th>
                    <th>Status</th>
                    <th>No of Days from Date of Booking</th>
                    <th>Invoice no</th>
                    <th>Batch No</th>
                    <th>Item Name</th>
                    <th>Item per Batch</th>
                    <th>Total Amount</th>
                    <th>Copy of COA</th>
                    <th>Date od Testing</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

